.carousel {
  position: relative;
}
.carousel-list {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all .7s;
}
.carousel-item.active {
  z-index: 2;
  opacity: 1;
}
.carousel-item a,
.carousel-item span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel-item .ext {
  width: 100%;
  height: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.carousel-item .bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
  z-index: 1;
}
.carousel-item .title {
  font-size: 12px;
  line-height: 28px;
  color: #fff;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  margin: 0 8px;
  z-index: 2;
  text-align: center;
}

.carousel-item .title:hover {
  text-decoration: underline;
}

.carousel-arrows {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
  z-index: 4;
  display: none;
  transition: all .5s;
}
.carousel-arrows a {
  display: block;
  width: 24px;
  height: 40px;
  position: absolute;
  z-index: 1;
}
.carousel-arrows span {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 2;
}
.carousel-arrows i {
  display: block;
  width: 8px;
  height: 14px;
  margin: 13px 8px;
  cursor: pointer;
  background-image: url(//hao1.qhimg.com/t014e0c7faf3bde4a96.png);
  background-image: -webkit-image-set(url(//hao1.qhimg.com/t014e0c7faf3bde4a96.png) 1x, url(//hao1.qhimg.com/t013da4d429a343b3db.png) 2x);
  background-image: image-set(url(//hao1.qhimg.com/t014e0c7faf3bde4a96.png) 1x, url(//hao1.qhimg.com/t013da4d429a343b3db.png) 2x);
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 38;
}
.carousel-arrows .prev {
  left: 0;
}
.carousel-arrows .prev i{
  background-position: 0 0;
}
.carousel-arrows .next {
  right: 0;
}
.carousel-arrows .next i{
  background-position: -9px 0;
}
.carousel-arrows .prev:hover span,
.carousel-arrows .next:hover span {
  opacity: 0.7;
}

.carousel:hover .carousel-arrows {
  display: block;
}